.home {
  width: 100%;
  height: 100%;
  margin-bottom: 700px;
  justify-content: center;
  align-items: center;
}

.texto {
  padding: 30px;
}

.logo {
  text-align: center;
  margin-top: 20px;
  
}

.logo-projeto {
  width: 200px;
}